*.exe
*.identcache
*.local
*.log
*.mi
*.ppu
*.o
*.compiled
*.bak
*.or
*.a
*.rsj
/KaM_Remake.drc
/KaM_Remake.map
/KaM_Remake.res
/KaM_Remake_Settings.ini
/Saves
/SavesMP
/SpriteResource/gui.rx
/SpriteResource/guimain.rx
/SpriteResource/guimainh.rx
/SpriteResource/houses.rx
/SpriteResource/trees.rx
/SpriteResource/units.rx
/data/Sprites
/data/defines/houses.dat
/data/defines/pattern.dat
/data/defines/unit.dat
/data/gfx/*.bbm
/data/gfx/*.lbm
/data/sfx
/dcu
/src/net/KM_NetAuthSecure.pas
__history
*.tvsconfig