*.exe
*.identcache
*.local
*.log
*.mi
*.ppu
*.o
*.compiled
*.bak
*.or
*.a
*.rsj
/KaM_Remake.drc
/KaM_Remake.map
/KaM_Remake.res
/KaM_Remake_Settings.ini
/Saves
/SavesMP
/SpriteResource/gui.rx
/SpriteResource/guimain.rx
/SpriteResource/guimainh.rx
/SpriteResource/houses.rx
/SpriteResource/trees.rx
/SpriteResource/units.rx
/data/Sprites
/data/defines/houses.dat
/data/defines/pattern.dat
/data/defines/unit.dat
/data/gfx/*.bbm
/data/gfx/*.lbm
/data/sfx
/dcu
/src/net/KM_NetAuthSecure.pas
__history
*.tvsconfig
MapsDL
/Logs
/Maps/A FOW test 1
/Maps/A FOW Test Plain
/Maps/A House Supply Test
/Maps/A Houses Test
/Maps/A RenrerPool Test
/Maps/A Scout test
/Maps/A small house test
/Maps/a Small house test 2
/Maps/A Test
/Maps/A tower throw rock test
/Maps/Новая Карта1111
/Maps/A All Houses test
/Maps/A Bandit test
/Maps/MapTest
/Maps/Smart
/Maps/Test
/Maps/Test 1
/Maps/Новая Карта1
/Maps/Barbarians2
/MapsMP/Новая Карта1
/MapsMP/A Fight Test
/MapsMP/A FOW test 1
/MapsMP/A FOW Test Plain
/MapsMP/A Plain
/MapsMP/An AddSuply for House test
/MapsMP/TestR
/KaM_Remake.stat
data/defines/unit_orig.dat
/data/gfx/remap2.dat
/data/gfx/gouraud.dat
/data/gfx/h2lremap.dat
/data/gfx/MAP.BBM
/data/gfx/remap.dat
data/text/text.eng.libx
data/text/text.rus.libx
/src/gui/__recovery
