0:37// Scroll Left
1:39// Scroll Right
2:38// Scroll Up
3:40// Scroll Down
4:112// Build Menu
5:113// Ratio Menu
6:114// Statistics Menu
7:115// Main Menu
8:72// Halt Command
9:83// Splitup Command
10:76// Linkup Command
11:70// Food Command
12:88// Storm Command
13:187// Increase Formation
14:189// Decrease Formation
15:190// Turn Clockwise
16:188// Turn Counterclockwise
17:116// Normal Game Speed
18:117// Game Speed x3
19:118// Game Speed x6
20:119// Game Speed x10
21:66// Beacon
22:80// Pause
23:84// Show Teams (MP)
24:34// Zoom In
25:33// Zoom Out
26:8// Reset Zoom
27:49// Select Group 1
28:50// Select Group 2
29:51// Select Group 3
30:52// Select Group 4
31:53// Select Group 5
32:54// Select Group 6
33:55// Select Group 7
34:56// Select Group 8
35:57// Select Group 9
36:48// Select Group 10
37:32// Center to Alert
38:46// Delete Message
39:13// Show Game Chat (MP)
40:27// Close Menu's
41:77// Debug Show Map
42:86// Debug Victory
43:68// Debug Defeat
44:67// Debug Add Scout
45:13// MapEdit Extra's menu
46:112// MapEdit Terain Editing
47:113// MapEdit Village Planning
48:114// MapEdit Visual Scripts
49:115// MapEdit Global Scripting
50:116// MapEdit Main Menu
51:49// MapEdit Sub-menu 1
52:50// MapEdit Sub-menu 2
53:51// MapEdit Sub-menu 3
54:52// MapEdit Sub-menu 4
55:53// MapEdit Sub-menu 5
56:54// MapEdit Sub-menu 6
